solver/ filter=lfs diff=lfs merge=lfs -text
solver/Brusselator3.gif filter=lfs diff=lfs merge=lfs -text
Described_experiments/NewSet/direction_sims_dill_data.pkl filter=lfs diff=lfs merge=lfs -text
Described_experiments/saved_models/pinn_2D_Koch_Meinhardt_5_test.pkl filter=lfs diff=lfs merge=lfs -text
Described_experiments/saved_models_old/ filter=lfs diff=lfs merge=lfs -text
Three_nodes_models/circuit_3954/final/backup/PINN_final_estimates_plot_1.ipynb filter=lfs diff=lfs merge=lfs -text
Three_nodes_models/circuit_3954/final/backup/PINN_final_estimates_plot_10.ipynb filter=lfs diff=lfs merge=lfs -text
Three_nodes_models/circuit_3954/final/backup/PINN_final_estimates_plot_2.ipynb filter=lfs diff=lfs merge=lfs -text
Analytic_solution_of_gene_net/lookup_70.pbz2 filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_50.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_51.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_52.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_56.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_57.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_72.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_44.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_47.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_85.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_8.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_36.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_84.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_35.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_60.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_86.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_30.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_32.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_6.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_49.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_67.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_59.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_71.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_74.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_78.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_82.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_15.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_37.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_64.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_76.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_79.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_80.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_1.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_38.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_2.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_39.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_41.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_61.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_69.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_81.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_16.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_17.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_29.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_83.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_12.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_26.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_21.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_62.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_19.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_20.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_25.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_4.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_75.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_77.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_11.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_13.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_40.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_73.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_18.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_3.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_5.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_68.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_70.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_7.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_9.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/temp.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_33.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_58.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_28.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_55.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_65.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_10.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_22.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_34.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_45.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_46.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_53.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_54.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_63.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_14.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_31.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_27.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_42.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_43.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_48.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_66.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_23.pkl filter=lfs diff=lfs merge=lfs -text
pytorch_3_nodes_runs/inputs/solution_24.pkl filter=lfs diff=lfs merge=lfs -text
