solver/ filter=lfs diff=lfs merge=lfs -text
solver/Brusselator3.gif filter=lfs diff=lfs merge=lfs -text
Described_experiments/NewSet/direction_sims_dill_data.pkl filter=lfs diff=lfs merge=lfs -text
Described_experiments/saved_models/pinn_2D_Koch_Meinhardt_5_test.pkl filter=lfs diff=lfs merge=lfs -text
Described_experiments/saved_models_old/ filter=lfs diff=lfs merge=lfs -text
Three_nodes_models/circuit_3954/final/backup/PINN_final_estimates_plot_1.ipynb filter=lfs diff=lfs merge=lfs -text
Three_nodes_models/circuit_3954/final/backup/PINN_final_estimates_plot_10.ipynb filter=lfs diff=lfs merge=lfs -text
Three_nodes_models/circuit_3954/final/backup/PINN_final_estimates_plot_2.ipynb filter=lfs diff=lfs merge=lfs -text
Analytic_solution_of_gene_net/lookup_70.pbz2 filter=lfs diff=lfs merge=lfs -text
